img
    display: block

.covers
    width: 50%
    border-radius: 30px

.cover-page-r
    float: right
    margin: 0 0 20px 20px

.cover-page-l
    float: left
    margin: 20px 20px 0 0

.avatars
    float: left
    dimension 100px
    border-radius: 50%
    margin: 30px 10px 0 0

.logos
    float: left
    transition: 0.2s
    margin-right: 10px

.logos:hover
    transform_scale_rotate()

.networks-logo
    margin: 10px 30px 50px 30px

.networks-logo:hover
    transform_scale_rotate()

#money
    margin: 20px
    transition: 0.5s

#money:hover
    transform_spinning()

@media screen and (max-width: 400px)
    .portada
        width: 100%

    // #money
    //     margin: 5px
    //     width: 15%