img
    display block

.portada
    float right
    width 50%
    border-radius 30px

.avatars
    float left
    dimension 100px
    border-radius 50%
    margin 30px 10px 10px 0

.ico
    float left
    width 20px
    height 10px

#logo
    float left
    dimension 80px
    padding-right 10px
