img
    display: block

.navbar .logo
    height: 50px;
    width: 55px;
    margin-top: -6px;

.covers
    width: 48%
    border-radius: 30px

.cover-page-r
    float: right
    margin: 0 0 20px 20px

.cover-page-l
    float: left
    margin: 20px 20px 0 0

.avatars
    float: left
    dimension 100px
    border-radius: 50%
    margin: 30px 10px 0 0

.logos
    float: left
    margin-right: 10px
    transition: 0.2s

.logos:hover
    transform_scale_rotate()

.networks-logo
    margin: 10px 30px 50px 30px

.networks-logo:hover
    transform_scale_rotate()

.logos-spin
    float: left
    margin: 20px 10px 0 0
    transition: 0.5s

.logos-spin:hover
    transform_scale_spinning()

.screen
    float: left
    width: 30%
    margin: 10px 60px 0 0
    transition: 0.5s

.screen:hover
    transform_scale: 1.3

@media screen and (max-width: 400px)
    .covers, .screen
        width: 100%

    .screen:hover
        transform_scale: 1.2