$dicabegColor = #F37135
$blackColor = #404040

dimension()
    width: arguments
    height: arguments

transition()
    -moz-transition: -moz-transform arguments ease-out
    -webkit-transition: -webkit-transform arguments ease-out

transform_scale_rotate()
    -moz-transform: scale(1.16) rotate(10deg);
    -webkit-transform: scale(1.16) rotate(10deg);

transform_spinning()
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);

transform_scale_spinning()
    -moz-transform: scale(1.16) rotate(360deg);
    -webkit-transform: scale(1.16) rotate(360deg);