h1, h2, h3
    color #F37135

.nav-item, .navbar span.site-name
    color #404040

.navbar, .navbar .links
    color blue

.nav-item a:not(.external).router-link-active
    border-bottom-color #F37135

.nav-item a:not(.external):hover
    border-bottom-color #F37135

.sidebar
    color white
    background #F37135

.sidebar a
    color white

.sidebar ul li a:hover
	color #404040

.sidebar ul li a.active
	color  #404040
	border-left-color #404040

.prev a:hover, .next a:hover
	color #F37135

blockquote
	border-left-color #F37135
