@import './styl/val'
@import './styl/img'

h1, h2, h3, h4
    color: $dicabegColor

.navbar span
    color: $dicabegColor

.nav-item a:not(.external).router-link-active
    border-bottom-color: $dicabegColor

.nav-item a:not(.external):hover
    border-bottom-color: $dicabegColor

.sidebar
    color: white
    background: $dicabegColor

.sidebar a
    color: white

.prev a:hover, .next a:hover
	color: $dicabegColor

blockquote
	border-left-color: $dicabegColor
