@import './styl/val'
@import './styl/img'

h1, h2, h3, h4
    color: $dicabegColor

.h3-logos
    margin-left: 75px

.navbar span
    color: $dicabegColor

.nav-item a:not(.external).router-link-active
    border-bottom-color: $dicabegColor

.nav-item a:not(.external):hover
    border-bottom-color: $dicabegColor

.sidebar, .sidebar a.sidebar-link
    color: white
    background: $dicabegColorDark

.prev a:hover, .next a:hover
	color: $dicabegColor

blockquote
	border-left-color: $dicabegColor

pre
    width: 350px